body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/* NAVBAR */
.navbar {
  padding: 15px;
}

.navbar .nav-item {
  padding-right: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-brand, .text-muted, h5, footer {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

/* About */
#pm, #contact {
  background-color: #f4f3f3;
}

.intro {
  text-align: center !important;
}

.section-img {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding-top: 10px;
}

.container-flex {
  height: 45vh !important;
  position: relative;
  display: flex;
  width: 100%;
}

.responsive-image {
  position: relative;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-size: 100%;
}

.overlay {
  z-index: 1;
  background-color: rgba(4, 11, 12, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  z-index: 2;
}

/* FACIAL, PM, EYELASH */
#facial, #pm, #eyelash, #contact {
  padding: 20px !important;
}

/* CONTACT */
.contact-feature-box {
  text-align: center;
  align-self: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

iframe {
  padding: 3px !important;
  border: 0;
}

/* FOOTER */
footer {
  padding: 20px !important;
  text-align: center;
}

i {
  margin: 15px;
  color: black;
  margin-bottom: 30px;
}

.fa-yelp:hover {
  color: #c41200;
}

.fa-phone:hover {
  color: green;
}

.fa-envelope:hover {
  color: #D44638;
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 1rem;
  }
}
